#CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeDoxygenDefaults.cmake
CMakeDoxyfile.in

# Binaries
src/apps/HelloWorld/hello
src/struct/LinkedHashMap/linkhm

# Generated Code
generated

# HTML documentation
html
Doxyfile.doc

